.footer{
    height: 10vh;
    background-image: url('./assets/background.jpeg');
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    z-index: 100;
    position: relative;
    bottom: 0;
    a{
        text-decoration: none;
    }
}